In [2]:
import pandas as pd

In [3]:
serie_ = pd.Series([10, 9, 8, 7, 6])
serie_

0    10
1     9
2     8
3     7
4     6
dtype: int64

In [4]:
serie_.values

array([10,  9,  8,  7,  6])

In [5]:
serie_.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
serie_.shape

(5,)

In [8]:
# accesando un elemento en particular
print(serie_[3])

# accesando varios elementos a la vez
print(serie_[[0, 2, 4]])

7
0    10
2     8
4     6
dtype: int64

In [9]:
# creando serie con un indíce diferente
serie_ = pd.Series([10, 9, 8, 7, 6], index=["a", "b", "c", "d", "e"])
serie_

a    10
b     9
c     8
d     7
e     6
dtype: int64

In [10]:
# accesando a un rango de índices
serie_["b":"e"]

b    9
c    8
d    7
e    6
dtype: int64

In [12]:
# Crear serie usando un diccionario
data = {"MX": 52, "USA": 1}
serie_ = pd.Series(data)
print(serie_.index)
serie_

Index(['MX', 'USA'], dtype='object')

MX     52
USA     1
dtype: int64

In [13]:
import numpy as np

In [14]:
# Variable nula, cualquier operación que involucre un valor np.nan el resultado será np.nan
np.nan + 10

nan

In [16]:
data = {"MX": 52, "USA": 1}
serie_ = pd.Series(data, index=["MEX", "USA"])
print(serie_.isnull()) # serie_.notnull()
serie_

MEX     True
USA    False
dtype: bool

MEX    NaN
USA    1.0
dtype: float64