In [1]:
import numpy as np
import pandas as pd

In [2]:
# dataset link: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
dataset_path = "/home/david/ML_DL/datasets/London bike sharing/london_merged.csv"

In [3]:
df_lmerged = pd.read_csv(dataset_path)
df_lmerged

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [4]:
df_lmerged.dtypes

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

In [5]:
# cambiar el formato de timestamp de objeto a datetime
df_lmerged["timestamp"] = pd.to_datetime(df_lmerged["timestamp"])
df_lmerged.dtypes

timestamp       datetime64[ns]
cnt                      int64
t1                     float64
t2                     float64
hum                    float64
wind_speed             float64
weather_code           float64
is_holiday             float64
is_weekend             float64
season                 float64
dtype: object

In [6]:
# crear una nueva columna hora
df_lmerged["hour"] = df_lmerged["timestamp"].dt.hour
df_lmerged["hour"]

0         0
1         1
2         2
3         3
4         4
         ..
17409    19
17410    20
17411    21
17412    22
17413    23
Name: hour, Length: 17414, dtype: int64

In [7]:
# extraer dataset sin la primer columna
df = df_lmerged.iloc[:, 1:]
df

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hour
0,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0,0
1,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0,1
2,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0,2
3,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0,3
4,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0,4
...,...,...,...,...,...,...,...,...,...,...
17409,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0,19
17410,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0,20
17411,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0,21
17412,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0,22
17413,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0,23

### Operaciones matemÃ¡ticas

In [8]:
df["wind_speed"]**2

0         36.00
1         25.00
2          0.00
3          0.00
4         42.25
          ...
17409    361.00
17410    441.00
17411    576.00
17412    529.00
17413    484.00
Name: wind_speed, Length: 17414, dtype: float64

In [9]:
np.sin(df["hum"])

0       -0.948282
1       -0.948282
2        0.776676
3       -0.506366
4       -0.948282
           ...
17409   -0.629888
17410   -0.629888
17411    0.039806
17412    0.566108
17413    0.566108
Name: hum, Length: 17414, dtype: float64

In [10]:
# seleccionar los registros par
df["t1"].iloc[::2]

0        3.0
2        2.5
4        2.0
6        1.0
8        1.5
        ...
17404    6.0
17406    6.0
17408    5.0
17410    5.0
17412    5.5
Name: t1, Length: 8707, dtype: float64

In [11]:
# restar entre dos columnas, llenando con un valor por defecto los no considerados (para
# que no sean NaN)
df["t1"].iloc[::3].sub(df["t2"], fill_value=1000)

0           1.0
1         997.5
2         997.5
3           0.0
4        1000.0
          ...
17409       4.0
17410     999.0
17411     998.5
17412       4.0
17413     999.0
Length: 17414, dtype: float64

In [12]:
df["t1"].div(df["t2"])

0        1.500000
1        1.200000
2        1.000000
3        1.000000
4             inf
           ...
17409    5.000000
17410    5.000000
17411    3.666667
17412    3.666667
17413    5.000000
Length: 17414, dtype: float64

### Funciones mÃ¡s complejas

**Aplicar funciÃ³n**

In [14]:
def f1(x):
    return x**2 + 1

In [15]:
# aplicando la funciÃ³n a un rango de datos
f1(np.arange(-5, 6))

array([26, 17, 10,  5,  2,  1,  2,  5, 10, 17, 26])

In [16]:
# aplicarlo a una columna del dataset
df["hour"].apply(f1)

0          1
1          2
2          5
3         10
4         17
        ...
17409    362
17410    401
17411    442
17412    485
17413    530
Name: hour, Length: 17414, dtype: int64

In [17]:
def f2(x, a=1, b=0):
    return x**2 + a*x + b

In [19]:
# aplicar f2 a una col del df
df["hour"].apply(f2, args=(2, 3))
# df["hour"].apply(f2, a=3, b=3) # mÃ¡s explÃ­cito

0          3
1          6
2         11
3         18
4         27
        ...
17409    402
17410    443
17411    486
17412    531
17413    578
Name: hour, Length: 17414, dtype: int64

In [20]:
# usando funciones lambda
df["t1"].apply(lambda x: x+273) # convierte a grados Kelvin?

0        276.0
1        276.0
2        275.5
3        275.0
4        275.0
         ...
17409    278.0
17410    278.0
17411    278.5
17412    278.5
17413    278.0
Name: t1, Length: 17414, dtype: float64

In [21]:
# procesar todo el dataframe, calcular el promedio en cada columna
df.apply(lambda x : x.mean())

cnt             1143.101642
t1                12.468091
t2                11.520836
hum               72.324954
wind_speed        15.913063
weather_code       2.722752
is_holiday         0.022051
is_weekend         0.285403
season             1.492075
hour              11.513265
dtype: float64

In [23]:
# calcular promedio t1 y t2, usando apply por fila
df[["t1", "t2"]].apply(lambda x: x.mean(), axis=1)

0        2.50
1        2.75
2        2.50
3        2.00
4        1.00
         ...
17409    3.00
17410    3.00
17411    3.50
17412    3.50
17413    3.00
Length: 17414, dtype: float64

In [26]:
# algo parecido a lo anterior
df.apply(lambda x: np.abs(x["t1"]-x["t2"]), axis=1)

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

In [27]:
# afectar cada valor del dataframe
df.applymap(lambda x: x / 100)

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hour
0,1.82,0.030,0.020,0.930,0.060,0.03,0.0,0.01,0.03,0.00
1,1.38,0.030,0.025,0.930,0.050,0.01,0.0,0.01,0.03,0.01
2,1.34,0.025,0.025,0.965,0.000,0.01,0.0,0.01,0.03,0.02
3,0.72,0.020,0.020,1.000,0.000,0.01,0.0,0.01,0.03,0.03
4,0.47,0.020,0.000,0.930,0.065,0.01,0.0,0.01,0.03,0.04
...,...,...,...,...,...,...,...,...,...,...
17409,10.42,0.050,0.010,0.810,0.190,0.03,0.0,0.00,0.03,0.19
17410,5.41,0.050,0.010,0.810,0.210,0.04,0.0,0.00,0.03,0.20
17411,3.37,0.055,0.015,0.785,0.240,0.04,0.0,0.00,0.03,0.21
17412,2.24,0.055,0.015,0.760,0.230,0.04,0.0,0.00,0.03,0.22
17413,1.39,0.050,0.010,0.760,0.220,0.02,0.0,0.00,0.03,0.23