In [1]:
import numpy as np
import pandas as pd

In [2]:
# dataset: fuente original -> https://data.worldbank.org/indicator/SP.POP.TOTL
# dataset: fuente donde ya ha sido procesado -> https://drive.google.com/file/d/1Iy245CZoPnaVuslJLvHTgE45nIWvKHG9/view?usp=sharing
dataset_path = "/home/david/ML_DL/datasets/population total - The World Bank/poblacion.csv"

In [3]:
df_pop = pd.read_csv(dataset_path)

In [4]:
df_pop

                       Country  year           pop
0                  Afghanistan  2015  3.441360e+07
1                      Albania  2015  2.880703e+06
2                      Algeria  2015  3.972802e+07
3               American Samoa  2015  5.581200e+04
4                      Andorra  2015  7.801100e+04
...                        ...   ...           ...
1035  Pre-demographic dividend  2018  9.194854e+08
1036              Small states  2018  4.057532e+07
1037                South Asia  2018  1.814389e+09
1038   South Asia (IDA & IBRD)  2018  1.814389e+09
1039        Sub-Saharan Africa  2018  1.078307e+09

[1040 rows x 3 columns]

In [11]:
# formato numérico de población más entendible
pd.options.display.float_format = "{:,.1f}".format

In [12]:
df_pop

                       Country  year             pop
0                  Afghanistan  2015    34,413,603.0
1                      Albania  2015     2,880,703.0
2                      Algeria  2015    39,728,025.0
3               American Samoa  2015        55,812.0
4                      Andorra  2015        78,011.0
...                        ...   ...             ...
1035  Pre-demographic dividend  2018   919,485,393.0
1036              Small states  2018    40,575,321.0
1037                South Asia  2018 1,814,388,744.0
1038   South Asia (IDA & IBRD)  2018 1,814,388,744.0
1039        Sub-Saharan Africa  2018 1,078,306,520.0

[1040 rows x 3 columns]

In [13]:
# convertir el año a variable categórica
df_pop["year"] = pd.Categorical(df_pop["year"].apply(str))
df_pop["year"]

0       2015
1       2015
2       2015
3       2015
4       2015
        ...
1035    2018
1036    2018
1037    2018
1038    2018
1039    2018
Name: year, Length: 1040, dtype: category
Categories (4, object): ['2015', '2016', '2017', '2018']

In [14]:
df_pop.dtypes

Country      object
year       category
pop         float64
dtype: object

In [15]:
# filtro para seleccionar dos países, se puede ver como una máscara
idx_country_filter = df_pop["Country"].isin(["Aruba", "Colombia"])
idx_country_filter

0       False
1       False
2       False
3       False
4       False
        ...
1035    False
1036    False
1037    False
1038    False
1039    False
Name: Country, Length: 1040, dtype: bool

In [16]:
# obtener muestra usando el filtro
df_sample = df_pop[idx_country_filter]
df_sample

      Country  year          pop
9       Aruba  2015    104,341.0
42   Colombia  2015 47,520,667.0
269     Aruba  2016    104,872.0
302  Colombia  2016 48,171,392.0
529     Aruba  2017    105,366.0
562  Colombia  2017 48,901,066.0
789     Aruba  2018    105,845.0
822  Colombia  2018 49,648,685.0

In [17]:
# cambiar los índices del dataframe, esto fácilita algunos análisis
df_sample = df_sample.set_index(["Country", "year"]).sort_index()
df_sample

                       pop
Country  year
Aruba    2015    104,341.0
         2016    104,872.0
         2017    105,366.0
         2018    105,845.0
Colombia 2015 47,520,667.0
         2016 48,171,392.0
         2017 48,901,066.0
         2018 49,648,685.0

In [24]:
# solo ver la parte de Colombia, : indica que queremos los datos de todos los años
df_sample.loc["Colombia", :]

              pop
year
2015 47,520,667.0
2016 48,171,392.0
2017 48,901,066.0
2018 49,648,685.0

In [27]:
# ver un dato usando múltiples índices
df_sample.xs(("Aruba", "2018"))

pop   105,845.0
Name: (Aruba, 2018), dtype: float64

In [28]:
# checar datos usando el nivel de índice para filtrar
df_sample.xs("2018", level="year")

                  pop
Country
Aruba       105,845.0
Colombia 49,648,685.0

In [32]:
df_pop["Country"].unique().shape

(260,)

In [34]:
# Aplicar lo de los múltiples índices a todo el dataframe
df_countries = df_pop.set_index(["Country", "year"]).sort_index(ascending=[True, True])
df_countries

                          pop
Country     year
Afghanistan 2015 34,413,603.0
            2016 35,383,128.0
            2017 36,296,400.0
            2018 37,172,386.0
Albania     2015  2,880,703.0
...                       ...
Zambia      2018 17,351,822.0
Zimbabwe    2015 13,814,629.0
            2016 14,030,390.0
            2017 14,236,745.0
            2018 14,439,018.0

[1040 rows x 1 columns]

In [35]:
# seleccionar una parte del dataset
ids_f = pd.IndexSlice
df_countries.loc[ids_f["Aruba":"Austria", "2015":"2017"], :].sort_index()

                        pop
Country   year
Aruba     2015    104,341.0
          2016    104,872.0
          2017    105,366.0
Australia 2015 23,815,995.0
          2016 24,190,907.0
          2017 24,601,860.0
Austria   2015  8,642,699.0
          2016  8,736,668.0
          2017  8,797,566.0

In [36]:
# obtener los valores de índices del primer nivel
df_countries.index.get_level_values(level=0)

Index(['Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan', 'Albania',
       'Albania', 'Albania', 'Albania', 'Algeria', 'Algeria',
       ...
       'Yemen, Rep.', 'Yemen, Rep.', 'Zambia', 'Zambia', 'Zambia', 'Zambia',
       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe'],
      dtype='object', name='Country', length=1040)

In [38]:
# seleccionar datos en específico a partir de la columna
country = "Colombia"
df_countries["pop"][country]

year
2015   47,520,667.0
2016   48,171,392.0
2017   48,901,066.0
2018   49,648,685.0
Name: pop, dtype: float64

In [40]:
# aplicando una función matemática a un nivel de índice específicado
df_countries.groupby(level=1).sum()

                  pop
year
2015 65,679,147,019.0
2016 66,487,930,677.0
2017 67,294,176,701.0
2018 68,087,886,692.0

In [44]:
df_countries.groupby(level=0).mean().sort_values(by='pop', ascending=False)

                                       pop
Country
IDA & IBRD total           6,295,313,187.2
Low & middle income        6,266,873,327.0
Middle income              5,587,775,965.2
IBRD only                  4,708,714,616.8
Early-demographic dividend 3,186,078,338.8
...                                    ...
Palau                             17,776.2
Nauru                             12,776.0
Tuvalu                            11,300.5
Eritrea                                NaN
Not classified                         NaN

[260 rows x 1 columns]

In [48]:
# volver el índice year a columna de nuevo
df_sample = df_sample.unstack("year")
df_sample

                  pop
year             2015         2016         2017         2018
Country
Aruba       104,341.0    104,872.0    105,366.0    105,845.0
Colombia 47,520,667.0 48,171,392.0 48,901,066.0 49,648,685.0