In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets

In [3]:
iris = datasets.load_iris()

In [13]:
data = pd.DataFrame(iris.data)
data.columns = iris.feature_names
data["target"] = iris.target
data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [8]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [14]:
data["name_target"] = data["target"].map({0: "setosa", 1: "versicolor", 2: "virginica"})
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,name_target
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
# dividir el dataset
target = ["target", "name_target"]
descriptors = list(set(data.columns) - set(target))
descriptors

['sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)',
 'sepal length (cm)']

In [17]:
x = data[descriptors].values
y = data['target'].values

In [22]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.33, random_state=42
)

## Creando y entrenando un modelo de regresión

In [18]:
from sklearn.tree import DecisionTreeRegressor

In [23]:
reg_1 = DecisionTreeRegressor(max_depth=4)
reg_1.fit(x_train, y_train)

DecisionTreeRegressor(max_depth=4)

### Evaluando el modelo

In [24]:
predict_train = reg_1.predict(x_train)
predict_test = reg_1.predict(x_test)

In [26]:
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
print(classification_report(y_test, predict_test))