In [6]:
import pandas as pd

In [8]:
dataset_url = "../../../../datasets/mini_iris.csv"

df = pd.read_csv(
    dataset_url,
    header=None,
    names=[
        "sepal_length",
        "sepal_width",
        "petal_length",
        "petal_width",
        "class",
    ]
)
df

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [11]:
new_df = df[["sepal_length", "sepal_width", "class"]]
new_df

     sepal_length  sepal_width           class
0             5.1          3.5     Iris-setosa
1             4.9          3.0     Iris-setosa
2             4.7          3.2     Iris-setosa
3             4.6          3.1     Iris-setosa
4             5.0          3.6     Iris-setosa
..            ...          ...             ...
145           6.7          3.0  Iris-virginica
146           6.3          2.5  Iris-virginica
147           6.5          3.0  Iris-virginica
148           6.2          3.4  Iris-virginica
149           5.9          3.0  Iris-virginica

[150 rows x 3 columns]

In [12]:
final_df = new_df[new_df["class"].isin(["Iris-setosa", "Iris-versicolor"])]
final_df

    sepal_length  sepal_width            class
0            5.1          3.5      Iris-setosa
1            4.9          3.0      Iris-setosa
2            4.7          3.2      Iris-setosa
3            4.6          3.1      Iris-setosa
4            5.0          3.6      Iris-setosa
..           ...          ...              ...
95           5.7          3.0  Iris-versicolor
96           5.7          2.9  Iris-versicolor
97           6.2          2.9  Iris-versicolor
98           5.1          2.5  Iris-versicolor
99           5.7          2.8  Iris-versicolor

[100 rows x 3 columns]

In [13]:
final_df["class"].unique()

array(['Iris-setosa', 'Iris-versicolor'], dtype=object)

In [14]:
final_df.to_csv(dataset_url, index=False)